################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Unity/Visualizer/Temp/UnityLockfile
/Unity/Visualizer/Temp/PropertyDatabase_1265138678
/Unity/Visualizer/Temp/PropertyDatabase_2066312223
/Unity/Visualizer/Temp
